body{
  user-select: none;
  height: max-content;
  width: max-content;
  
                    font-family: Segoe UI ;
    background-color: rgba(255, 0, 0, 0.5);
    margin-bottom: 5%;
    overflow-x: hidden;
    
}
.BGI{
  position:fixed;
   transform: translate( -50%, -50%);
  top: 50%;
  left: 50%;

  height: 100%;
  width: 100%;
}

      [role="banner"] {
      
        background-color: rgba(30, 30, 30, 10);
        height: 8%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    

        z-index: 100;
      }
       .BannerContents{
            position:fixed;

       }

     
  #MenuBtn{
  

    height: 40px;
    width:  40px;

    background-color: rgba(255, 255, 255, 0.2);
    border: solid rgba(0, 0, 5) 1px;
    
    border-radius: 25%;

    position: fixed;
 

    top:  1% ;
    left:2%;

    z-index: 106;
  }

  #MenuBtn:hover{
    
    top:  0.9% ;
    left:1.9%;
    height:44px;
    width: 44px;
    background-color: rgba(255,255, 255,0.3);
      }
  #MenuBtn:active{
    height:40px;
    width: 40px;
    background-color: rgba(255,255, 255,0.4);
      
  }

  

      #HomeBtn{
  

    height: 40px;
    width:  120px;

    background-color: rgba(255, 255, 255, 0.56);
    border: solid rgba(0, 0, 5) 0.01px;
    
    border-radius: 5%;

    
     position: fixed;

    top: 30% ;
    left:58%;

    z-index: 6;
  }

  #HomeBtn:hover{
    height:44px;
    width: 124px;
    background-color: rgba(255,255, 255,0.7);
      }
  #HomeBtn:active{
    height:40px;
    width: 120px;
    background-color: rgba(255,255, 255,1);
      
  }

    #CDBtn{
  
     position: fixed;

    height: 40px;
    width:  120px;

    background-color: rgba(255, 255, 255, 0.56);
    border: solid rgba(0, 0, 5) 0.01px;
    
    border-radius: 5%;

    
 

    top: 40% ;
    left:58%;

    z-index: 6;
  }

  #CDBtn:hover{
    height:44px;
    width: 124px;
    background-color: rgba(255,255, 255,0.7);
      }
  #CDBtn:active{
    height:40px;
    width: 120px;
    background-color: rgba(255,255, 255,1);
      
  }
 

    #GallaryBtn{
   

     position: fixed;
     
    height: 40px;
    width:  120px;

    background-color: rgba(255, 255, 255, 0.56);
    border: solid rgba(0, 0, 5) 0.01px;
    
    border-radius: 5%;

    
 

    top: 50% ;
    left:58%;

    z-index: 6;
  }

  #GallaryBtn:hover{
    height:44px;
    width: 124px;
    background-color: rgba(255,255, 255,0.7);
      }
  #GallaryBtn:active{
    height:40px;
    width: 120px;
    background-color: rgba(255,255, 255,1);
      
  }


  .LPannel{
    background-color: rgb(27, 27, 27);

    height: 100%;
    width: 28%;
    
    position: fixed;
    transform: translate(50%, 50%);
    top:4%;
    right:90%;
     transform: translateX(-100%); 
     transition: transform 0.5s ease;  

     
    z-index: 90;
  }
 
.showPanel {
    transform: translateX( 50%); 
  }


 .SelectionButtons{
   cursor: pointer;
   user-select: none;
   display:block;
   height: 50px;
   width: 120px;
   background-color: rgba(255,255,255,0.1);
   border:none;
   box-shadow: 0px 0px 2px 1px white;
   position:absolute;
   overflow: hidden;
   transform: translate(-50%,-50%);
    margin-top: 10%;
    z-index: 20;
    border-radius:5px ;
}
 .SelectionButtons:hover{
   height: 60px;
   width: 130px;

   
   font-size: 17px;
   font-weight: bold;

 }

 .SelectionButtons:hover .BtnFlash{
   animation: BtnFlashAnm 1.5s infinite;
 }

 .SelectionButtons:active{
   height: 55px;
   width: 125px;

   
   font-size: 15px;
   font-weight: bold;
 }

 .BtnFlash{
   transform: rotate(35deg);
   top:-35%;
   left:115%;
   height: 100px;
   width: 20px;
   z-index: -1;
   position: absolute;
   background-color: rgba(255,255,255,0.5); 
 
   
}

@keyframes mpanim001 {
    0% { background-color:rgba(255,0,0,0.5);}
    33.33% { background-color:rgba(0,0,255,0.5);}
    100% { background-color:rgba(255,0,0,0.5);}
}

@keyframes banim001 {
 0% {background-color:rgba(255,0,0,0.8); border:solid 40px red;  }
 16.66%{border:solid 50px;}
 33.33% {background-color:rgba(0,0,255,0.8); border:solid 40px blue;}
 49.98%{border:solid 50px;}
 66.64%{border:solid 40px;}
 83.3%{border:solid 50px;}
 100% {background-color:rgba(255,0,0,0.8); border:solid 40px red;}
} 


@keyframes BtnAnima {
    0% {
        background-color:rgba(0,225,0,1);
        box-shadow: 0px 0px 10px lime;height:50px;
        width: 110px;;
 
       color:rgba(1,200,1); 
       font-size:20px;
    }
    10% { 
          color:rgba(200,200,50);
          font-size:20px;
        } 
    20% {
          color:rgba(1,200,1); 
          font-size:20px;

        } 
    30% { 
          color:rgba(200,200,50);
          font-size:20px;
        } 
    40% {
          color:rgba(1,200,1); 
          font-size:20px;

        } 
    50% { 
          color:rgba(200,200,50);
          font-size:20px;
        } 
    60% {
          color:rgba(1,200,1); 
          font-size:20px;

        }
    70% { 
          color:rgba(200,200,50);
          font-size:20px;
        } 
    80% {
          color:rgba(1,200,1); 
          font-size:20px;

        }
    90% { 
        color:rgba(200,200,50);
        font-size:20px;
        } 

  100% {
         background-color:rgba(0,225,0,1);
         box-shadow: 0px 0px 50px lime;height:50px;
         width: 110px;;

         color:rgba(1,200,1); 
         font-size:20px;

        } 
 
}


 

@keyframes BtnFlashAnm {
0% {left:115%;}
100% {left:-115%;}
}






.mainContainer{
  position:absolute;
   transform: translate( -50%, -50%);
     top: 70%;
     left: 50%;


   background-color: rgba(73, 0, 132, 0.7);
 height: 120%; 
  width: 90%;

    display: flex;
  justify-content: center;
     z-index: 3;
}
  

.greetings{
  overflow: hidden;
   height: 40%;
   width: 90%;
border: solid, 1px black;


   transform: translate(-50%,-50%);
     top:25%;
     left:50%;
     position: fixed;

       font-size: 125%;
     text-align: center;
     color: rgb(255, 255, 255);
}
#TBGI{
  z-index: 1;
    height: 120%;
    width: 125%;
    position: fixed;
   transform: translate(-50%,-50%);
     top:50%;
     left:50%;
}
#GT{
  Z-index:3;
   position: fixed;
   transform: translate(-50%,-50%);
   top:40%;
   left:50%;
    
}
 




 

      #HomeBtn2{
  

    height: 80px;
    width:  540px;

    background-color: rgba(255, 255, 255, 0.56);
    border: solid rgba(0, 0, 5) 0.01px;
    
    border-radius: 5%;

    
     position: fixed;

    top: 48% ;
    left:50%;

   font-size: 45px;

    z-index: 6;
  }

  #HomeBtn2:hover{
    height: 84px;
    width:  544px;
    background-color: rgba(255,255, 255,0.7);
      }
  #HomeBtn2:active{
    height: 80px;
    width:  540px;
    background-color: rgba(255,255, 255,1);
      
  }

    #CDBtn2{
  
     position: fixed;

    height: 80px;
    width:  540px;

    background-color: rgba(255, 255, 255, 0.56);
    border: solid rgba(0, 0, 5) 0.01px;
    
    border-radius: 5%;

    
 

    top: 62.5% ;
     left:50%;

   font-size: 45px;
    z-index: 6;
  }

  #CDBtn2:hover{
     height: 84px;
    width:  544px;
      }
  #CDBtn2:active{
    height: 80px;
    width:  540px;
    background-color: rgba(255,255, 255,1);
      
  }
 

    #GallaryBtn2{
   

     position: fixed;
     
    height: 80px;
    width:  540px;

    background-color: rgba(255, 255, 255, 0.56);
    border: solid rgba(0, 0, 5) 0.01px;
    
    border-radius: 5%;

    
 

    top: 78% ;
        left:50%;

   font-size: 45px;

    z-index: 6;
  }

  #GallaryBtn2:hover{
      height: 84px;
    width:  544px;
    background-color: rgba(255,255, 255,0.7);
      }
  #GallaryBtn2:active{
     height: 80px;
    width:  540px;
    background-color: rgba(255,255, 255,1);
      
  }