body{
  user-select: none;
  height: max-content;
  width: max-content;
  
                    font-family: Segoe UI ;
    background-color: rgba(255, 0, 0, 0.5);
    margin-bottom: 5%;
    overflow-x: hidden;
}
.BGI{
  position:fixed;
   transform: translate( -50%, -50%);
  top: 50%;
  left: 50%;

  height: 100%;
  width: 100%;
}

      [role="banner"] {
      
        background-color: rgba(30, 30, 30, 10);
        height: 8%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    

        z-index: 3;
      }
       .BannerContents{
            position:fixed;

       }

     
  #MenuBtn{
  

    height: 40px;
    width:  40px;

    background-color: rgba(255, 255, 255, 0.2);
    border: solid rgba(0, 0, 5) 1px;
    
    border-radius: 25%;

    position: fixed;
 

    top:  1% ;
    left:2%;

    z-index: 6;
  }

  #MenuBtn:hover{
    
    top:  0.9% ;
    left:1.9%;
    height:44px;
    width: 44px;
    background-color: rgba(255,255, 255,0.3);
      }
  #MenuBtn:active{
    height:40px;
    width: 40px;
    background-color: rgba(255,255, 255,0.4);
      
  }

  

      #HomeBtn{
  

    height: 40px;
    width:  120px;

    background-color: rgba(255, 255, 255, 0.56);
    border: solid rgba(0, 0, 5) 0.01px;
    
    border-radius: 5%;

    
     position: fixed;

    top: 30% ;
    left:58%;

    z-index: 6;
  }

  #HomeBtn:hover{
    height:44px;
    width: 124px;
    background-color: rgba(255,255, 255,0.7);
      }
  #HomeBtn:active{
    height:40px;
    width: 120px;
    background-color: rgba(255,255, 255,1);
      
  }

    #CDBtn{
  
     position: fixed;

    height: 40px;
    width:  120px;

    background-color: rgba(255, 255, 255, 0.56);
    border: solid rgba(0, 0, 5) 0.01px;
    
    border-radius: 5%;

    
 

    top: 40% ;
    left:58%;

    z-index: 6;
  }

  #CDBtn:hover{
    height:44px;
    width: 124px;
    background-color: rgba(255,255, 255,0.7);
      }
  #CDBtn:active{
    height:40px;
    width: 120px;
    background-color: rgba(255,255, 255,1);
      
  }
 

    #GallaryBtn{
   

     position: fixed;
     
    height: 40px;
    width:  120px;

    background-color: rgba(255, 255, 255, 0.56);
    border: solid rgba(0, 0, 5) 0.01px;
    
    border-radius: 5%;

    
 

    top: 50% ;
    left:58%;

    z-index: 6;
  }

  #GallaryBtn:hover{
    height:44px;
    width: 124px;
    background-color: rgba(255,255, 255,0.7);
      }
  #GallaryBtn:active{
    height:40px;
    width: 120px;
    background-color: rgba(255,255, 255,1);
      
  }


  .LPannel{
    background-color: rgb(27, 27, 27);

    height: 100%;
    width: 28%;
    
    position: fixed;
    transform: translate(50%, 50%);
    top:4%;
    right:90%;
     transform: translateX(-100%); 
     transition: transform 0.5s ease;  

    
    z-index: 2;
  }
 
.showPanel {
    transform: translateX( 50%); 
  }


 .SelectionButtons{
   cursor: pointer;
   user-select: none;
   display:block;
   height: 50px;
   width: 120px;
   background-color: rgba(255,255,255,0.1);
   border:none;
   box-shadow: 0px 0px 2px 1px white;
   position:absolute;
   overflow: hidden;
   transform: translate(-50%,-50%);
    margin-top: 10%;
    z-index: 20;
    border-radius:5px ;
}
 .SelectionButtons:hover{
   height: 60px;
   width: 130px;

   
   font-size: 17px;
   font-weight: bold;

 }

 .SelectionButtons:hover .BtnFlash{
   animation: BtnFlashAnm 1.5s infinite;
 }

 .SelectionButtons:active{
   height: 55px;
   width: 125px;

   
   font-size: 15px;
   font-weight: bold;
 }

 .BtnFlash{
   transform: rotate(35deg);
   top:-35%;
   left:115%;
   height: 100px;
   width: 20px;
   z-index: -1;
   position: absolute;
   background-color: rgba(255,255,255,0.5); 
 
   
}

@keyframes mpanim001 {
    0% { background-color:rgba(255,0,0,0.5);}
    33.33% { background-color:rgba(0,0,255,0.5);}
    100% { background-color:rgba(255,0,0,0.5);}
}

@keyframes banim001 {
 0% {background-color:rgba(255,0,0,0.8); border:solid 40px red;  }
 16.66%{border:solid 50px;}
 33.33% {background-color:rgba(0,0,255,0.8); border:solid 40px blue;}
 49.98%{border:solid 50px;}
 66.64%{border:solid 40px;}
 83.3%{border:solid 50px;}
 100% {background-color:rgba(255,0,0,0.8); border:solid 40px red;}
} 


@keyframes BtnAnima {
    0% {
        background-color:rgba(0,225,0,1);
        box-shadow: 0px 0px 10px lime;height:50px;
        width: 110px;;
 
       color:rgba(1,200,1); 
       font-size:20px;
    }
    10% { 
          color:rgba(200,200,50);
          font-size:20px;
        } 
    20% {
          color:rgba(1,200,1); 
          font-size:20px;

        } 
    30% { 
          color:rgba(200,200,50);
          font-size:20px;
        } 
    40% {
          color:rgba(1,200,1); 
          font-size:20px;

        } 
    50% { 
          color:rgba(200,200,50);
          font-size:20px;
        } 
    60% {
          color:rgba(1,200,1); 
          font-size:20px;

        }
    70% { 
          color:rgba(200,200,50);
          font-size:20px;
        } 
    80% {
          color:rgba(1,200,1); 
          font-size:20px;

        }
    90% { 
        color:rgba(200,200,50);
        font-size:20px;
        } 

  100% {
         background-color:rgba(0,225,0,1);
         box-shadow: 0px 0px 50px lime;height:50px;
         width: 110px;;

         color:rgba(1,200,1); 
         font-size:20px;

        } 
 
}


 

@keyframes BtnFlashAnm {
0% {left:115%;}
100% {left:-115%;}
}






.mainContainer{
  position:fixed;
   transform: translate( -50%, -50%);
     top: 195%;
     left: 50%;


   background-color: rgba(100, 00, 0, 0.7);
 height: 2200PX; 
  width: 90%;
}


 .userContainer {
  position:absolute;
   transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0.7);
 height: 13%; 
  width: 30%;

  border-radius: 25px;
 } 

 
 .Girls{
   position:absolute;
   transform: translate(-50%,-50%);
     top: 3%;
     left: 15%;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3%;
   background-color:rgba(255, 49, 117,  8);
    
width: 25%;
border: solid, 2px, black;
border-radius: 7%;
 }

 

 #userContainer1G{
 
  Top: 11.5%; 
  left: 18%;
 } 

  
 #userContainer2G{
   Top: 11.5%;  
  left: 50%;
 } 

  
 #userContainer3G{
  Top: 11.5%;  
  left: 82%;
 } 

 #userContainer4G{
   position:absolute;
   transform: translate(-50%,-50%);
  Top: 25%; 
  left: 18%;
 } 

  
 #userContainer5G{
   Top: 25%; 
  left: 50%;
 }



 .Boys{
   position:absolute;
   transform: translate(-50%,-50%);
     top: 35.5%;
     left: 15%;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3%;
   background-color:rgb(62, 62, 220);
    
width: 25%;
border: solid, 2px, black;
border-radius: 7%;
 }
   
 #userContainer1B{
   position:absolute;
   transform: translate(-50%,-50%);
  Top: 44%; 
  left: 18%;
 } 

  
 #userContainer2B{
  Top: 44%;  
  left: 50%;
 } 

  
 #userContainer3B{
 Top: 44%; 
  left: 82%;
 }
 
 

 #userContainer4B{
   position:absolute;
   transform: translate(-50%,-50%);
  Top: 57.5%; 
  left: 18%;
 } 

  
 #userContainer5B{
   Top: 57.5%;  
  left: 50%;
 } 

  
 #userContainer6B{
  Top: 57.5%; 
  left: 82%;
 } 
 
  #userContainer7B{
  Top: 71%; 
  
  left: 18%;
 } 

  
 #userContainer8B{
Top: 71%;  
  left: 50%;
 } 

  
 #userContainer9B{
 Top: 71%; 
  left: 82%;
 }
 
  #userContainer10B{
 Top: 84.5%; 
  left: 18%;
 }
 
 .userContainer:hover{
   height: 14%; 
  width: 31%;
    background-color: rgba(255, 255, 255, 1);
 }
 
 .UPS{
    display:flex; 
    position:absolute;
    height: 80%;
    width: 80%;
    border-radius: 25px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 50%;

  }  

  .Data{
    display: flex;
    justify-content: center;
  } 


  #EJ1421{
    font-size: 6.5px;
    text-align: center;

  }


